{% extends 'baseCard.html.twig' %}

{% block css %}
    {{ parent() }}
    <style>
        body {
            background-color: #{{ card.backgroundColor }};
            color: #{{ card.textColor }}
        }
    </style>
{% endblock %}

{% block content %}
    <h1><div style="background-color: {{ card.probability|colorFrequency }}">{{ card.title|title }}</h1>
    {% if card.subtitle is not null %}
        <h2>{{ card.subtitle }}</h2>
    {% endif %}
    {% if card.description is not null %}
        <p>{{ card.description }}</p>
    {% endif %}

    {% for tag in card.tags %}
        {% include 'common/_tag.html.twig' with {'tag': tag.name }%}
    {% endfor %}
{% endblock %}